@import url(normalize.css);

:root {
  --main-color: #142b55;
}

body {
	font-family: 'Lato', sans-serif;
}
.wrapper {
	background-color: #fff;
}
.logo {
	margin-left: 50px;
}
.logo img {
	width: 200px;
	margin: 50px 20px 30px;
}
.banner {
	display: flex;
    justify-content: center;
  	align-items: center;
	background-image: url(../images/bg.jpg);
	min-height: 490px;
	background-size: cover;
	padding: 12px 10px 235px;

}
h1 {
	max-width: 1100px;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 70px;
	text-align: center;
	color: #fff;
	padding: 5px;
}
.content {
	display: flex;
	flex-direction: row;
	justify-content: left;
	max-width: 1280px;
	background-color: #fff;
	margin: -195px auto 0;
	padding: 40px;
	color: #898989;
	font-size: 20px;
	line-height: 31px;
}
.arrow img {
	display: none;
}
.show img {
	display: block;
	width: 35px;
	position: fixed;
	bottom: 30px;
	left: 60px;
}
h2 {
	font-size: 20px;
	line-height: 52px;
	letter-spacing: 0.06em;
	color: #fff;
	background-color: var(--main-color);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.main {
	width: 65%;
	margin: 0px 5px;
	padding: 0px 5px;
}
.main span {
	color: var(--main-color);
	font-weight: 700;
}
.sidebar {
	width: 360px;
	margin: 0px 65px 15px 15px;
}
.panel {
	box-shadow: 0px 10px 45px -10px #3566a9;
}
a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
}
.nav,
.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0.06em;
	font-weight: 700;
	list-style: none;
	text-transform: uppercase;
	padding: 0px;
}
.categories{
	margin-top: 0;
	padding: 20px 25px;
}
.contacts {
	padding: 20px 10px;
}
.title {
	background-color: var(--main-color);
	color: #fff;
	padding: 20px 40px;
}
.nav a {
	margin: 15px 5px;
	padding: 15px 0px;
	border-bottom: 1px inset #3566a9;
	display: block;
	color: var(--main-color);

}
.nav a:hover {
	color: #3566a9;
}
/*start dropbox*/

.drop {
	position: relative;
	margin-right: 25px;
	/*transition: all 0.5s;*/
}
.drop-wrap {
	z-index: 99;
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	width: 200px;
	background-color: #fff;
	box-shadow: 0px 10px 45px -10px #3566a9
}
.nav .drop:hover .drop-wrap {
	display: block;
	transition: all 0.5s;
}
.drop-wrap a {
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
}
.drop-hold{
	list-style: none;
	padding: 0;
}
.drop-hold li a {
	padding: 5px;
	color: var(--main-color);
	border: none;
	text-align: center;
	
}
.drop-hold li:hover {
	background-color: var(--main-color);
	box-shadow: 0px 0px 10px -2px #3566a9;
	transition: all 0.5s;
}
.drop-hold li:hover a{
	color: #fff;
}

/*end dropbox*/
/*start main block*/
h3 {
	width: 100%;
	margin: 5px auto 0px;
	padding: 5px 15px;
	
}
.description {
	margin: 15px 0;
	padding: 0 25px;
	line-height: 25px;
	font-size: 16px;
}
.screen {
	display: block;
	margin: 20px auto;
	width: 100%;
}
.exercise {
	margin-top: 55px;
	border-top: 1px inset #ff0248;
}
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;	
}
.btn {
	display: inline-block;
	width: 200px;
	text-align: center;
	margin: 15px 25px;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--main-color);
	font-weight: bold;
	border: 2px inset #ff0248;
	background: none;
}
.result1,
.result2,
.result3,
.show-code {
	margin: 20px auto;
	padding: 5px;
	width: 100%;
	min-height: 100px;
	border: 1px inset #ff0248;
	background-color: var(--main-color);
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	z-index: 10;
}


/*_____________*/
@media (max-width: 768px) {
	.banner {
		flex-direction: column;
	}
	.logo {
		margin: 100px 0 10px;
	}
	.panel {
		display: none;
	}
	.sidebar { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
	}
	.content, .main {
		width: 100%;
		padding: 2px;
		background: #fff;
	}
	.title, .contacts {
		text-align: center;
		
	}
	.categories {
		background: #fff;
		padding: 15px;
		margin: 0;
	}
	.drop {
		margin: 0;
	}
	.drop-wrap {
		top: 0;
		left: 45%;
		width: 60%;
	}
	.exercise {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.description {
		padding: 0 35px;
	}
	.show img {
		width: 20px;
		left: 5px;
	}


}